<script defer src="assets/js/jquery.min.js"></script>
<script defer src="assets/js/jquery.poptrox.min.js"></script>
<script defer src="assets/js/skel.min.js"></script>
<script defer src="assets/js/util.min.js"></script>
<script defer src="assets/js/exif.min.js"></script>
<script defer src="assets/js/main.js?v={{ site.time | date: '%s' }}"></script>
<script defer src="assets/js/globe.js?v={{ site.time | date: '%s' }}"></script>
<script defer src="assets/js/airport-selector.js?v={{ site.time | date: '%s' }}"></script>
<script>
  const gallery = document.getElementById('main');
  const items = Array.from(gallery.children);
  items.sort(() => Math.random() - 0.5);
  items.forEach(item => gallery.appendChild(item));
</script>
