<script defer src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/jquery.poptrox.min.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/skel.min.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/util.min.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/exif.min.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/main.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
<script defer src="{{ '/assets/js/globe.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
<script defer src="{{ '/assets/js/airport-selector.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
<script>
  const gallery = document.getElementById('main');
  const items = Array.from(gallery.children);
  items.sort(() => Math.random() - 0.5);
  items.forEach(item => gallery.appendChild(item));
</script>
