<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<link rel="stylesheet" href="{{ '/assets/css/main.min.css' | relative_url }}"/>
<link rel="stylesheet" href="{{ '/assets/css/globe.css' | relative_url }}?v={{ site.time | date: '%s' }}"/>
{% if page.layout == 'story' or page.layout == 'stories' %}
<link rel="stylesheet" href="{{ '/assets/css/story.css' | relative_url }}?v={{ site.time | date: '%s' }}"/>
{% endif %}
<style>
body { margin: 0; }
.is-iframe .hide-in-iframe { display: none; }
</style>
<script>
try {
    if (window.self !== window.top) {
        document.documentElement.className += ' is-iframe';
    }
} catch (e) {
    document.documentElement.className += ' is-iframe';
}
</script>
