---
layout: default
---

{% for image in site.static_files %}
{%- assign categories = image.name | split:'-' -%}
{% if image.path contains 'fulls' and categories contains page.prefix %}
<article class="thumb">
    <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
        <img data-src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt="" loading="lazy" decoding="async"
            data-name="{{ image.name }}"/></a>
</article>
{% endif %}
{% endfor %}
